<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <ul id="cupcakes">

    </ul>

    <form id="cupcake-form">
        <legend>Add a cupcake</legend>
        <div>
            <label for="flavor">Flavor:</label>
            <input type="text" name="flavor" id="flavor">
        </div>
        <div>
            <label for="size">Size:</label>
            <input type="text" name="size" id="size">
        </div>
        <div>
            <label for="rating">Rating:</label>
            <input type="number" name="rating" id="rating" step="0.1" min="0" max="10">
        </div>
        <div>
            <label for="image">Image: </label>
            <input type="url" name="image" id="image">
        </div>

        <input type="submit" value="Add Cupcake">
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>

</html>