{% extends 'base.html' %}

{% block title %}
New Feedback
{% endblock %}

{% block body %}
<div class="row">
    <form class="col" method="post">
        <legend>Feedback</legend>
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.name != 'available' %}
        <div class="form-group row">
            {{field.label(class_="col-form-label col-sm-2")}}
            <div class="col-sm-10">
                {{field(class_="form-control")}}
            </div>
            {% for error in field.errors %}
            <span class="col text-warning">{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    {{form.available(class_="form-check-input")}}
                    {{form.available.label(class_="form-check-label")}}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" class="btn btn-success" value="Submit Feedback">
            </div>
        </div>
    </form>
</div>
{% endblock %}