{% extends 'base.html' %}

{% block title %}
{{user.username}}'s Profile
{% endblock %}

{% block body %}
<div class="row">
    <h1 class="col">
        {{user.username}}
    </h1>
</div>
<div class="row">
    <div class="col">
        <p>
            <b>Email:</b>{{user.email}}
        </p>
        <p>
            <b>Name:</b>{{user.first_name}} {{user.last_name}}
        </p>
    </div>
</div>
<div class="row">
    <h3 class="col-12">
        Feedback:
    </h3>
    {% if user.feedback_list %}
    <div class="row">
        {% for feedback in user.feedback_list %}
        <div class="col col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{feedback.title}}</h5>
                    <p class="card-text">{{feedback.content}}</p>
                    {% if session["username"] == user.username %}
                    <a href="/feedback/{{feedback.id}}/update" class="btn btn-link">Edit</a>
                    <form action="/feedback/{{feedback.id}}/delete" method="post"
                    class="form-inline">
                    <button class="btn btn-link">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if session['username'] == user.username %}
    <div class="col-12">
        <a href="/users/{{user.username}}/feedback/add">Add Feedback</a>
    </div>
    {% endif %}
</div>
{% if session['username'] == user.username %}
<div class="row">
    <div class="col">
        <form action="/users/{{user.username}}/delete" method="post">
            <input class="btn btn-block btn-danger" type="submit" value="Delete User">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}